h2 {
    color: brown;
}

span {
    color: darkgoldenrod;
}

#pets {
    display:flex;
    justify-content: space-evenly;
}

.card {
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(54, 54, 185);
    box-shadow: 5px 5px 5px black;
}

img {
    width: 100%;
    border-radius: 25px;
}

h4 {
    text-align: right;
    color: #3c787e;
}

p {
    color: gold;
}

h3 {
    color: maroon;
}