h1{
    text-align: center;
    background-color: blue;
    border: 2px solid black;
}

div{
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid brown;
    margin-top: 25px;
    padding: 25px;
    background-color: aqua;
    color: rgb(234, 12, 100);
    border-radius: 20px;
}

button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    width: 90px;
    border: 2px solid rgb(241, 5, 5);
    background-color: darkgreen;
    color: gold;
    border-radius: 20px;
}