.card {
    border: 2px solid black;
    display: inline-block;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.img {
    width: 200px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container {
    padding: 15px;
}