h1 {
    font-family: league spartan;
    color: #04ea26;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    letter-spacing: 1.5px;
    text-decoration: teal double underline;
    text-transform: uppercase;
}