body {
    background-color: black;
}

.container {
    height: 500px;
    width: 80%;
    border: 2px solid black;
    margin: 10px auto;
    padding-top: 20px;
    background-color: azure;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: chartreuse;
}

#voilet {
    background-color: violet;
    text-align: center;
    height: 100px;
    width: 250px;
    box-shadow: 5px 5px 5px black;
}

#indigo {
    background-color: indigo;
    text-align: center;
    height: 100px;
    width: 250px;
    box-shadow: 5px 5px 5px black;
}

#blue {
    background-color: blue;
    text-align: center;
    height: 100px;
    width: 250px;
    box-shadow: 5px 5px 5px black;
}

#green {
    background-color: green;
    text-align: center;
    height: 100px;
    width: 250px;
    box-shadow: 5px 5px 5px black;
}

#yellow {
    background-color: yellow;
    text-align: center;
    height: 100px;
    width: 250px;
    box-shadow: 5px 5px 5px black;
}

#orange {
    background-color: orange;
    text-align: center;
    height: 100px;
    width: 250px;
    box-shadow: 5px 5px 5px black;
}

#red {
    background-color: red;
    text-align: center;
    height: 100px;
    width: 250px;
    box-shadow: 5px 5px 5px black;
}